/.SimpleAspectDescriptionLabelProvider.java._trace
/.SimpleAspectDescriptionLabelProvider.xtendbin
/.SimpleAspectLabelProvider.java._trace
/.SimpleAspectLabelProvider.xtendbin
/SimpleAspectDescriptionLabelProvider.java
/SimpleAspectLabelProvider.java
