/.SimpleAspectRuntimeModule.java._trace
/.SimpleAspectRuntimeModule.xtendbin
/.SimpleAspectStandaloneSetup.java._trace
/.SimpleAspectStandaloneSetup.xtendbin
/SimpleAspectRuntimeModule.java
/SimpleAspectStandaloneSetup.java
