<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VObjectModel -->
      <package
            uri="http://www.example.org/VObjectModel"
            class="at.ac.tuwien.big.vom.vobjectmodel.vobjectmodel.VObjectModelPackage"
            genModel="model/VObjectModel.genmodel"/>
   </extension>

</plugin>
