<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated VObjectModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="VObjectModel.presentation.VObjectModelModelWizardID"
            name="%_UI_VObjectModelModelWizard_label"
            class="VObjectModel.presentation.VObjectModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VObjectModelModelFile.gif">
         <description>%_UI_VObjectModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated VObjectModel -->
      <editor
            id="VObjectModel.presentation.VObjectModelEditorID"
            name="%_UI_VObjectModelEditor_label"
            icon="icons/full/obj16/VObjectModelModelFile.gif"
            extensions="vobjectmodel"
            class="VObjectModel.presentation.VObjectModelEditor"
            contributorClass="VObjectModel.presentation.VObjectModelActionBarContributor">
      </editor>
   </extension>

</plugin>
