<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ac.at/tuwien/big/simpleaspect/SimpleAspect"
			class = "at.ac.tuwien.big.simpleaspect.simpleAspect.SimpleAspectPackage"
			genModel = "model/generated/SimpleAspect.genmodel" />
	</extension>
</plugin>
