/.SimplejavaRuntimeModule.java._trace
/.SimplejavaRuntimeModule.xtendbin
/.SimplejavaStandaloneSetup.java._trace
/.SimplejavaStandaloneSetup.xtendbin
/SimplejavaRuntimeModule.java
/SimplejavaStandaloneSetup.java
